<?xml version="1.0"?>
<launch>
  <arg name="rviz" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="record_data" default="false"/>
  <arg name="urdf_file"
       default="$(find legged_bumi3_description)/urdf/bumi3.urdf"/>

  <param name="logFile"
         value="$(find rl_controllers_bumi3)/data_logs/sim/bumi3/log.csv"/>
  <param name="robot_description" textfile="$(arg urdf_file)"/>
  <param name="legged_robot_description" textfile="$(arg urdf_file)"/>

  <rosparam file="$(find rl_controllers_bumi3)/config/gazebo.yaml" command="load"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find legged_gazebo)/worlds/empty_world.world"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        clear_params="true"
        args="-z 0.6 -param legged_robot_description -urdf -model bumi3"
        output="screen"/>

  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="rviz"
          args="-d $(find rl_controllers_bumi3)/rviz/legged_robot.rviz"
          output="screen"/>
  </group>
  <group if="$(arg record_data)">
    <include file="$(find rl_controllers_bumi3)/launch/record_data.launch"/>
  </group>

  <include file="$(find rl_controllers_bumi3)/launch/load_ac_controller.launch"/>
</launch>
